<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Similar News Finder</title>

    <!-- Favicon -->
  

    <!-- Core Stylesheet -->
    <link href="~/Content/newspaper/style.css" rel="stylesheet" />
</head>
<body>
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><h1 class="logo" style="color:white">Similar News Finder</h1></a>
                            </div>
                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Login -->
                                
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="#" method="post">
                                        <input type="search" name="search" id="searchInput" class="form-control" placeholder="Search">
                                        <button type="button"><i class="fa fa-search" id="searchById" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabMenue">
            <div class="newspaper-main-menu" id="stickyMenu">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="newspaperNav">

                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                            </div>

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li>
                                            <a href="/Home/Index/">Home</a>
                                        </li>
                                        <li class="#"><a class="nationalClick" href="#">National</a></li>
                                        <li>
                                            <a id="sportClick" href="#">Sport</a>
                                        </li>
                                        <li>
                                            <a href="#">Entertainment</a>
                                        </li>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>

                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
    </header>
    @RenderBody()
    <script src="~/Content/newspaper/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/newspaper/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/newspaper/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Content/newspaper/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Content/newspaper/js/active.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".nationalClick").click(function () {
                $.ajax({
                    url: '/Home/GetNationalNews/',
                    type: 'GET',
                    success: function (response) {
                        $("#showNews").empty();
                        $("#showNews").html(response);
                    }, error: function () {
                        alert('error');
                    }
                });
            });

            $("#sportClick").click(function () {
                $.ajax({
                    url: '/Home/GetSportNews/',
                    type: 'GET',
                    success: function (response) {
                        $("#showNews").empty();
                        $("#showNews").html(response);
                    }, error: function () {
                        alert('error');
                    }
                });
            });
            $("#searchById").click(function () {
            
                var filterObject = {};
                filterObject["Heading"] = $("#searchInput").val();
                if ($("#searchInput").val() !== null && $("#searchInput").val() !== "") {
                    $.ajax({
                        url: '/Home/SearchByHeading/',
                        type: 'GET',
                        data: filterObject,
                        success: function (response) {
                            $("#showNews").empty();
                            $("#showNews").html(response);
                        }, error: function () {
                            alert('error');
                        }
                    });
                }
            });
            $("#filterByDateAndCheck").click(function () {
                var filterObject = {};
                filterObject["ToDate"] = $("#toDate").val();
                filterObject["FromDate"] = $("#fromDate").val();
                filterObject["DawnNews"] = $("#dawnNewsChecked").prop("checked");
                filterObject["PakistanToday"] = $("#pakistanTodaysChecked").prop("checked");
               
                $.ajax({
                    url: '/Home/GetFilterByDateAndCheck/',
                    type: 'GET',
                    data: filterObject,
                    success: function (response) {
                        $("#showNews").empty();
                        $("#showNews").html(response);
                    }, error: function () {
                        alert('error');
                    }
                });
            });
        });
    </script>
</body>
</html>
